* {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

body {
  background: linear-gradient(
    89.98deg,
    #2e3b66 5.98%,
    #1d2540 39.15%,
    #0d0d0d 94.08%
  );
}

header {
  background: linear-gradient(90deg, #05746a 0%, #0e0e0e 100%);
}

p {
  color: white;
  font-family: "open sans";
  font-size: 16px;
}

.navigation {
  height: 96px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.fa-bars {
  display: inherit;
}

.logo {
  width: 135.016px;
}

.searchbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "exo";
  font-weight: 500;
  font-size: 18px;
}

#games-mobile a,
#home-mobile a,
#about-mobile a,
#community-mobile a {
  color: black;
  font-weight: bold;
}

ul li a:hover {
  color: #0d0d0d;
  font-weight: bold;
}

.navigation ul li {
  list-style: none;
  display: flex;
}

.tabs li {
  list-style: none;
  display: inline-block;
}

.tabs {
  width: 100%;
  display: flex;
}

.tabs-button {
  width: 100%;
  line-height: 42px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  font-family: "exo";
  color: white;
  font-weight: 500;
  box-shadow: 0px 3px 5px -2px #0d0d0d, inset 2px 2px 6px 0px #0d0d0d;
}

.tabs-button a {
  width: 100%;
  display: block;
}

.home-mobile {
  background: #2a395e;
}

#home-mobile {
  background: linear-gradient(90.06deg, #057369 0.05%, #075b53 99.95%);
  box-shadow: 0px 3px 5px -2px #0d0d0d;
}

#games-mobile {
  box-shadow: 0px 3px 5px -2px #0d0d0d;
  background: linear-gradient(90deg, #075a53 0%, #0a413c 100%);
}

.games-mobile {
  background: #2a395e;
}

.games-mobile:hover {
  color: #0d0d0d;
}

#about-mobile {
  background: linear-gradient(90deg, #0a413c 0%, #0c2825 100%);
  box-shadow: 0px 3px 5px -2px #0d0d0d;
}

.about-mobile {
  background: #2a395e;
}

.about-mobile:hover {
  color: #0d0d0d;
}

#community-mobile {
  box-shadow: 0px 3px 5px -2px #0d0d0d;
  background: linear-gradient(90deg, #0c2825 0%, #0e0e0e 100%);
}

.community-mobile {
  background: #2a395e;
}

.community-mobile:hover {
  color: #0d0d0d;
}

i {
  color: white;
}

.fa-user {
  font-size: 32px;
  transition: 0.4s;
}

.fa-user:hover {
  cursor: pointer;
  color: #ed1c24;
  filter: drop-shadow(0px 0px 6px #ed1c24);
}

.fa-cog {
  display: none;
}

.fa-bars {
  font-size: 32px;
}

.fa-bars:hover {
  color: #ed1c24;
  cursor: pointer;
}

#hamburger-menu {
  display: none;
}

.dropdown {
  position: absolute;
  top: 104px;
  left: 0;
  width: 200px;
  height: 305px;
  z-index: 10;
  opacity: 0;
  display: none;
  background: rgba(13, 13, 13, 0.98);
  list-style: none;
  transition: all 0.2s linear;
  transform: translateY(35px);
  border-radius: 0 20px 20px 0;
}

.screenreader-only {
  display: none;
}

#hamburger-menu:checked + .dropdown {
  /* show nav */
  display: block;
  transform: translateY(35px);
  opacity: 1;
}

.dropdown-item a:hover {
  color: #ed1c24;
}

.search {
  width: 42px;
  position: absolute;
  transform: translateX(-51px) translateY(-9px);
  cursor: pointer;
}

.search:hover {
  filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%)
    hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

.hero-banner {
  height: 282px;
  position: relative;
}

.header-picture {
  height: 100%;
  background-image: url("../images/control.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  font-family: "exo";
}

.red {
  color: #ed1c24;
}

.red3 {
  color: #ed1c24;
  font-weight: normal;
}

.less-important {
  display: none;
}

.flex-buttons {
  margin-top: 20px;
  display: flex;
}

.button-margin-right {
  margin-right: 20px;
}

.cta-button {
  background-color: #0d0d0d;
  border-color: #ed1c24;
  color: white;
  text-align: center;
  font-size: 12px;
  border-width: 4px;
  border-radius: 0px 0px 20px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 95px;
  height: 31px;
  border-style: solid;
  font-family: "open sans";
  font-weight: 500;
}

.client-button {
  display: none;
}

.cta-button:hover {
  box-shadow: #ed1c24 0px 0px 20px 0px;
}

.cyberpunk {
  width: 177px;
  height: 231px;
  transform: translateY(-30px);
}

.flex-items {
  display: flex;
  justify-content: space-around;
}

.flex-items-cyberpunk {
  display: flex;
  justify-content: space-between;
}

.cyberpunk-description {
  width: 177px;
  height: 205px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
}

.hide-mobile {
  display: none;
}

h3 {
  font-size: 22px;
  font-family: "Exo";
  font-weight: 500;
}

.circle {
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;
}

.red2 {
  background-color: #ed1c24;
}

.underline {
  font-size: 30px;
  font-weight: bold;
  font-family: "Exo";
  border-bottom: 3px solid #ed1c24;
  color: white;
  width: fit-content;
  margin-bottom: 40px;
}

.p-bigger {
  font-weight: lighter;
}

.about-us {
  width: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-box {
  margin-bottom: 180px;
}

.about-us h2 {
  position: absolute;
  transform: translateY(-70px);
}

.about-us-picture-box {
  height: 235px;
}

.about-us-picture {
  width: 177px;
  height: 191px;
  background-image: url("../images/slot-machines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 96px;
}

.circle-profile-box {
  height: 261px;
}

.circle-profile {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  background: rgba(6, 0, 0, 0.4);
}

.profile-picture {
  width: 48px;
  height: 48px;
}

h4 {
  font-family: "open sans";
  font-size: 14px;
  font-weight: lighter;
  text-decoration: underline 1px;
  color: white;
}

.drbrave-text {
  width: 135px;
  height: 56px;
  font-family: "open sans";
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

.center-drbrave {
  height: 177px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.arrows {
  height: 177px;
  width: 177px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 21px;
}

.fa-arrow-left {
  color: #ed1c24;
  transition: 0.6s;
}

.fa-arrow-left:hover {
  cursor: pointer;
  color: white;
}

.fa-arrow-right {
  color: #ed1c24;
  transition: 0.6s;
}

.fa-arrow-right:hover {
  cursor: pointer;
  color: white;
}

.community-text {
  height: 249px;
  width: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community-heading {
  position: absolute;
  transform: translateY(-70px);
}

footer {
  background: #1d2540;
}

.footer-box-mobile {
  width: 177px;
  margin-bottom: 32px;
}

.smaller {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 32px;
}

.icon-size {
  width: 48px;
}

.social-box {
  height: 86px;
  align-items: center;
}

.youtube {
  width: 42px;
  height: 42px;
  transform: translateY(1px);
}

.twitch {
  transform: translateY(2.5px);
  width: 46px;
  height: 46px;
}

.facebook {
  width: 46px;
  height: 46px;
  transform: translateY(2px);
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.flex-icons {
  display: flex;
  justify-content: space-between;
  display: none;
}

h5 {
  font-size: 20px;
  font-family: "Exo";
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

h6 {
  font-size: 22px;
  font-family: "Exo";
  font-weight: 500;
  color: white;
  display: inline-block;
  margin-right: 10px;
}

.fa-arrow-up {
  font-size: 20px;
  color: #ed1c24;
}

.red2:hover {
  cursor: pointer;
  background-color: white;
}

/* About page start */

.about-body {
  background: #f2f2f2;
}

.about-box-left {
  display: flex;
  max-width: 414px;
  padding: 20px;
}

.about-box-right {
  max-width: 374px;
}

h2 {
  font-family: "exo";
  font-size: 24px;
  display: inline-block;
}

.heading-square {
  height: 24px;
  width: 3px;
  background-color: #ed1c24;
  display: inline-block;
  margin-top: 32px;
  transform: translateY(2px);
  margin-right: 6px;
}

.about-box-left p {
  font-size: 20px;
  color: #0d0d0d;
  margin-bottom: 64px;
}

.contact p,
.contact input {
  font-family: "mulish";
  font-size: 16px;
  border-width: 0px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  margin-bottom: 0px;
}

.contact input {
  font-size: 16px;
}

.contact .heading-square {
  margin-left: 20px;
}

.form ::placeholder {
  color: #fff;
  opacity: 1;
}

.form {
  width: 100%;
  min-height: 440px;
  background-color: #0d0d0d;
  padding: 20px;
  box-sizing: border-box;
  margin: 32px 0px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form-width {
  max-width: 40%;
}

.form p {
  margin-bottom: 10px;
}

.how-can-we-help {
  margin-top: 20px;
  margin-bottom: 0px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 99px;
}

.line2 {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
}

textarea {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "mulish";
  font-size: 16px;
  resize: none;
  height: 28px;
  width: 100%;
}

.contact-info {
  width: 100%;
  min-height: 440px;
  background-color: #2d3962;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 32px;
}

.contact-info p {
  display: inline;
}

.contact-info p:first-child {
  margin-bottom: 20px;
}

.contact-info p:last-child {
  transform: translateY(-1px);
}

.contact-info img {
  margin-right: 32px;
}

.google-map {
  height: 232px;
  width: 100%;
}

.flex-spacebetween2 {
  display: flex;
  justify-content: space-between;
}

.flex-spacebetween2 img {
  transform: translateY(5px);
}

.form button {
  margin-top: 8px;
}

/* About page ends */
/* Game page start */

.communnity-market p,
.games p {
  font-family: "exo";
  font-weight: 600;
}

.games-body {
  background: linear-gradient(
    180deg,
    #2f3c67 9.07%,
    #082421 68.25%,
    #0e0e0e 100%
  );
}

.games h2 {
  color: white;
}

.heading-position {
  position: absolute;
  top: 135px;
}

.all-games {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(177px, 177px));
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 75px;
}

.all-games button {
  margin-top: 0;
}

.game-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 177px;
  margin-right: 0;
}

.game-images {
  width: 177px;
  height: 205px;
}

.community-market {
  color: #fff;
}

.market-games {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(374px, 125px));
  column-gap: 20px;
  row-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.market-images {
  width: 375px;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.discount {
  font-size: 25px;
}

.exo-light {
  font-size: 16px;
  font-weight: 300;
}

.exo-smaller {
  font-size: 16px;
}

.community-market button {
  margin-top: 0;
}

.community-market .flex-spacebetween2 {
  align-items: center;
  position: relative;
}

.community-market .heading-position {
  position: absolute;
  top: -270px;
}

/* Game page ends */
/* Profile page starts */

.profile-page h1 {
  font-weight: 400;
  display: inline-block;
}

.body-profile {
  background: linear-gradient(180deg, #2e3b66 0%, #0e0e0f 100%);
}

.active-profile {
  filter: drop-shadow(0px 0px 6px #ed1c24);
}

.profile-page .heading-square {
  height: 50px;
  width: 4px;
  transform: translateY(12px);
}

.left-profile-page {
  width: 177px;
  height: 537px;
  background-color: #094b45;
  border-radius: 10px;
  box-sizing: border-box;
}

.inner-left-page {
  padding: 20px;
}

.inner-left-page .profile-page-picture {
  width: 99px;
  filter: drop-shadow(0px 0px 6px #ed1c24);
}

.profile-name {
  font-size: 18px;
  font-family: "exo";
  font-weight: 500;
}

.xp-bar {
  width: 100%;
  height: 4px;
  background: #d38588;
  border-radius: 99px;
  position: relative;
  margin-bottom: 20px;
}

.xp-completed {
  width: 50%;
  height: 4px;
  background: #ed1c24;
  border-radius: 99px;
}

.xp-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transform: translate(68.5px, -10px);
}

.hashtags {
  border-radius: 20px;
  border: none;
  color: #bdbdbd;
  font-size: 10px;
  height: 21px;
  width: 59px;
  font-family: "exo";
  font-weight: 500;
  margin-top: 0px;
}

.hashtags:hover {
  box-shadow: none;
}

.streamer {
  margin-top: 12px;
}

.profile-socials {
  width: 18px;
}

.facebook2 {
  width: 22px;
}

.instagram2 {
  width: 21px;
}

.twitter2 {
  width: 21px;
}

.facebook2 {
  width: 20px;
}

.flex-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-button {
  width: 59px;
  height: 21px;
  border-width: 1.4px;
  border-radius: 1.4px;
  border-color: #bdbdbd;
  color: #bdbdbd;
  font-size: 10px;
  margin-bottom: 0;
}

.profile-button:hover {
  box-shadow: none;
}

.flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 140px;
}

.profile-page p {
  font-family: "exo";
  line-height: 25px;
}

.xp-text {
  font-size: 12px;
  color: #fff;
}

.grey-xp {
  font-size: 12px;
  color: #bdbdbd;
}

.profile-p {
  font-size: 12px;
}

.grey {
  color: #bdbdbd;
}

.inner-right-page {
  display: none;
}

.inner-right-page .heading-square,
.right-profile-page .heading-square {
  height: 22px;
  width: 2px;
  transform: translateY(3px);
  margin-top: 0px;
}

.profile-page h2 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.profile-margin {
  margin-bottom: 10px;
}

.inner-right-page .flex-column {
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.right-profile-page {
  min-height: 513px;
  background-color: #2d3962;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  padding: 16px;
}

.my-profile-page {
  margin-bottom: 32px;
}

.right-profile-page img {
  width: 157px;
  height: 203px;
}

.flex-profile {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 16px;
}

.play-sell-button {
  width: 68px;
  height: 24px;
  border-radius: 1px;
  border-width: 2px;
  border-color: #bdbdbd;
  color: #bdbdbd;
  font-size: 10px;
  margin-top: 10px;
}

.inner-upper-page .play-sell-button {
  margin-bottom: 10px;
}

.profile-game-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bottom-games {
  height: 177px;
  border-radius: 10px 0px 10px 10px;
  min-width: 347px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #2d3962;
  margin: 0px 16px;
  transform: translateY(-17px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-games img {
  width: 100px;
  height: 129px;
}

/* Profile page ends */
/* Cyberpunk page start */

.cyberpunk-body {
  background-color: #1e2222;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.cyberpunk-main nav {
  margin-left: 10px;
}

.cyberpunk-youtube-box {
  margin: 0px 10px;
}

.cyberpunk-youtube {
  width: 100%;
}

.cyberpunk-body {
  background: #1e2222;
}

.breadcrumbs ul li {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-family: "exo";
}

.breadcrumbs p {
  font-size: 18px;
  font-weight: lighter;
  font-family: "exo";
}

.breadcrumbs a {
  font-size: 18px;
  font-weight: lighter;
}

.cyberpunk-heading {
  display: inline-block;
  margin-bottom: 10px;
}

.cyberpunk-main .heading-square {
  height: 30px;
}

.heart {
  transition: 0.5s;
  width: 16px;
}

.heart:hover {
  cursor: pointer;
}

.wish-list-text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: lighter;
  transform: translateY(-4px);
  font-family: "exo";
}

.game-cost-text {
  font-size: 14px;
  font-family: "exo";
  margin-right: 10px;
}

.cyberpunk-flex p {
  display: inline-block;
}

.cyberpunk-flex button {
  margin-top: 0;
}

.cyberpunk-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.gameplay-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.cyberpunk-gameplay {
  max-width: 421px;
  min-width: 100px;
  margin-right: 10px;
}

.cyberpunk-gameplay2 {
  max-width: 858px;
  min-width: 200px;
}

.desc-req-flex {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.description,
.requirements {
  width: 640px;
  min-height: 283px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.description {
  background-color: #2d3962;
  margin-right: 5px;
}

.requirements {
  background-color: #094b45;
  margin-left: 5px;
}

.desc-req-flex h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.desc-req-flex p {
  font-size: 14px;
  font-family: "exo";
}

.description p,
.requirements p {
  margin-top: 16px;
}

.cyberpunk-bolder-text {
  font-weight: bold;
}

/* Cyberpunk page ends */
/* Community start */

.community-body {
  height: 600px;
  background-color: #fff;
}

.under-construction {
  background-image: url("../images/under-construction.png");
  width: 100px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: cover;
}

.under-construction-flex {
  display: flex;
  justify-content: space-around;
  height: 100%;
  transform: translateY(200px);
}

.under-construction-flex h1 {
  color: black;
}

/* Community ends */

@media screen and (min-width: 1028px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .container2 {
    max-width: 1300px;
    margin: 0 auto;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation ul li {
    list-style: none;
    display: flex;
  }

  p {
    font-size: 24px;
  }

  .hide-mobile {
    display: initial;
  }

  .hide-desktop {
    display: none;
  }

  .fa-bars {
    display: none;
  }

  #desktop-active {
    color: #0d0d0d;
    font-weight: bold;
  }

  .searchbar {
    width: 232px;
    height: 32px;
    border-radius: 20px;
    text-indent: 10px;
    font-family: "open sans";
    font-size: 14px;
    font-weight: 500;
    border-width: 0;
    display: inherit;
  }

  .fa-cog {
    font-size: 32px;
    transition: 0.5s;
    display: inherit;
  }

  .fa-cog:hover {
    cursor: pointer;
    color: #ed1c24;
    filter: drop-shadow(0px 0px 3px #ed1c24);
  }

  .hero-banner {
    height: 500px;
    position: relative;
  }

  .tagline-box {
    width: 530px;
    height: 178px;
    position: absolute;
    top: 86px;
  }

  .client-button {
    display: initial;
  }

  .flex-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }

  .button-margin-right {
    margin-right: 0px;
  }

  .cta-button {
    font-size: 20px;
    border-width: 7px;
    border-radius: 0px 0px 40px 0px;
    width: 148.5px;
    height: 54px;
    margin-top: 30px;
  }

  .flex-items {
    justify-content: space-between;
  }

  .tagline-box2 {
    width: 530px;
    position: absolute;
    bottom: 86px;
    right: 0px;
  }

  .less-important {
    font-weight: 500;
    display: inherit;
  }

  .cyberpunk {
    width: 530px;
    height: 680.39px;
    transform: translateY(-62px);
  }

  .cyberpunk-description {
    width: 530px;
    height: 520px;
    margin-top: 70px;
    margin-bottom: 310px;
  }

  h3 {
    font-size: 45px;
  }

  .circle {
    width: 16px;
    height: 16px;
  }

  .underline {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .p-bigger {
    font-size: 28px;
  }

  .about-us {
    width: 530px;
    height: 544px;
  }

  .about-us h2 {
    position: relative;
    transform: unset;
  }

  .about-us-picture {
    width: 530px;
    height: 543.984px;
    border-radius: 54px;
  }

  .margin-bottom {
    margin-bottom: 310px;
  }

  .about-us-box {
    margin-bottom: 310px;
  }

  .circle-profile {
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background: rgba(6, 0, 0, 0.4);
  }

  .profile-picture {
    width: 136.8px;
    height: 136.8px;
  }

  h4 {
    font-size: 31px;
  }

  .drbrave-text {
    width: 375px;
    height: 134px;
    font-size: 24px;
  }

  .center-drbrave {
    height: 530px;
  }

  .arrows {
    height: 530px;
    width: 530px;
    font-size: 60px;
  }

  .community-text {
    height: 530px;
    width: 530px;
  }

  footer {
    height: 260px;
  }

  .flex-icons {
    display: flex;
    justify-content: space-between;
  }

  .icon-size {
    width: 68px;
  }

  .youtube {
    width: 59px;
    height: 59px;
    transform: translateY(6px);
  }

  .twitch {
    transform: translateY(2.5px);
    width: 66px;
    height: 66px;
  }

  .facebook {
    width: 66px;
    height: 66px;
    transform: translateY(2px);
  }

  .footer-box {
    width: 530px;
    height: 260px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 24px;
    margin-right: 20px;
  }

  .fa-arrow-up {
    font-size: 32px;
  }

  /* About page start */

  .about-box-left {
    max-width: 530px;
    padding: 0;
  }

  .about-box-right {
    max-width: 530px;
  }

  .contact .heading-square {
    margin-left: 0px;
  }

  .contact p,
  .contact input {
    font-size: 22px;
    width: 194px;
  }

  .contact input {
    font-size: 18px;
  }

  .form {
    max-width: 530px;
    padding: 32px;
    margin: 32px 0px 32px 0px;
    border-radius: 5px;
  }

  .flex-spacebetween {
    display: flex;
    justify-content: space-between;
  }

  textarea {
    font-size: 18px;
    transform: translateY(10px);
  }

  .contact-info {
    width: 530px;
    padding: 32px;
    margin: 32px 0px 32px 0px;
    border-radius: 5px;
  }

  /* about page ends */
  /* game page starts */

  .heading-position {
    top: 120px;
  }

  .all-games {
    grid-template-columns: repeat(auto-fill, minmax(310px, 320px));
    row-gap: 50px;
    column-gap: 0px;
    margin-top: 120px;
  }

  .game-card {
    width: 310px;
  }

  .game-images {
    width: 310px;
    height: 320px;
  }

  .market-games {
    grid-template-columns: repeat(auto-fill, minmax(640px, 320px));
    margin-top: 200px;
  }

  .market-images {
    width: 640px;
  }

  .old-price {
    font-size: 20px;
  }

  .discount {
    font-size: 51px;
    margin-right: 80px;
  }

  .exo-light {
    font-size: 20px;
  }

  .exo-smaller {
    font-size: 20px;
  }

  .community-market .heading-position {
    top: -425px;
  }

  /* Game page ends */
  /* Profile page start */

  .left-profile-page {
    width: 650px;
    height: 837px;
    border-radius: 14px;
  }

  .inner-left-page {
    width: 50%;
    padding: 32px;
    padding-right: 16px;
  }

  .inner-left-page .profile-page-picture {
    width: 174.37px;
  }

  .profile-name {
    font-size: 24px;
  }

  .xp-bar {
    width: 277px;
  }

  .xp-completed {
    width: 138.5px;
  }

  .xp-circle {
    transform: translate(138.5px, -10px);
  }

  .hashtags {
    border-radius: 28px;
    font-size: 14px;
    height: 37px;
    width: 103px;

    margin-top: 20px;
  }

  .streamer {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .profile-socials {
    width: 32px;
  }

  .facebook2 {
    width: 36px;
  }

  .instagram2 {
    width: 37px;
  }

  .twitter2 {
    width: 38px;
    transform: translateY(-1px);
  }

  .inner-left-page .flex-spacebetween {
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .profile-button {
    width: 103px;
    height: 37px;
    font-size: 14px;
  }

  .flex-column {
    height: 240px;
  }

  .profile-page p {
    line-height: 40px;
  }

  .xp-text {
    font-size: 16px;
  }

  .grey-xp {
    font-size: 16px;
  }

  .profile-p {
    font-size: 18px;
  }

  .inner-right-page {
    width: 50%;
    padding: 32px;
    padding-left: 16px;
    display: inherit;
  }

  .profile-page h2 {
    font-size: 24px;
  }

  .profile-margin {
    margin: 16px;
  }

  .inner-right-page img {
    width: 277px;
  }

  .right-profile-page {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    margin-bottom: 64px;
  }

  .inner-upper-page {
    width: 90%;
  }

  .inner-lower-page {
    width: 90%;
  }

  .right-profile-page img {
    width: 50%;
    height: 100%;
    margin: 16px;
  }

  .profile-game-card {
    flex-direction: row;
  }

  /* Profile page ends */
  /* Cyberpunk page start */

  .cyberpunk-main .heading-square {
    height: 45px;
  }

  .heart {
    width: 32px;
  }

  .heart:hover {
    background-image: url("../images/icons/filled-heart.png");
    filter: drop-shadow(0px 0px 3px #ed1c24);
  }

  .wish-list-text {
    font-size: 18px;
    transform: translateY(-8px);
  }

  .game-cost-text {
    font-size: 36px;
  }

  .gameplay-flex {
    margin-top: 20px;
  }

  .desc-req-flex {
    margin: 20px 10px;
  }

  .cyberpunk-gameplay {
    margin-right: 20px;
  }

  .description,
  .requirements {
    min-height: 316px;
    padding: 32px;
  }

  .description {
    margin-right: 10px;
  }

  .requirements {
    margin-left: 10px;
  }

  .desc-req-flex h2 {
    font-size: 36px;
  }

  .desc-req-flex p {
    font-size: 24px;
  }

  /* Cyberpunk page ends */
  /* Community start */
  .community-body {
    height: 1024px;
    background-color: #fff;
  }

  .under-construction {
    background-image: url("../images/under-construction.png");
    width: 316px;
    height: 296px;
    background-repeat: no-repeat;
  }

  .under-construction-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transform: translateY(0px);
  }

  .under-construction-flex h1 {
    color: black;
  }

  /* Community ends */
}

@media only screen and (max-width: 380px) {
  .all-games {
    grid-template-columns: repeat(auto-fill, minmax(300px, 177px));
  }

  .game-card {
    width: 300px;
  }

  .game-images {
    width: 300px;
    height: 347.85px;
  }

  .market-games {
    grid-template-columns: repeat(auto-fill, minmax(300px, 125px));

    margin-top: 120px;
  }

  .market-images {
    width: 300px;
  }

  .community-market .heading-position {
    top: -240px;
  }

  .community-market p {
    font-size: 14px;
  }
}
